.header {
  color: rgb(235, 5, 204);
  padding: 12px;
  border-radius: 5px;
}

.sb-item {
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: rgba(19, 18, 18, 0.896);
}
.sb-item div form input {
  width: 600px;
  height: 35px;
}

.btn-cus {
  max-width: fit-content;
  text-align: center;
  font-size: small;
  align-items: center;
  display: flex;
  background-color: rgb(235, 14, 139);
  font-weight: bold;
  color: white;
}
