<div *ngIf="modalVisible" class="modal-overlay">
  <div class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User - {{userData.name}} {{userData.surname}}</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <ng-container *ngIf="!userData.editUser; else editUserDetails">
          <div class="modal-body">
            <p><b>Name - </b>{{userData.name}}</p>
            <p><b>Surname - </b>{{userData.surname}}</p>
            <p><b>Email - </b>{{userData.email}}</p>
            <p><b>Department - </b>{{userData.department}}</p>
            <p><b>Salary - </b>{{userData.salary | currency}}</p>
            <p><b>Live User - </b>{{userData.liveUser}}</p>
            <p><b>Sart Date - </b>{{userData.startDate | date}}</p>
            <p><b>Finish Date - </b>{{userData.finishDate | date}}</p>  
          </div>
        </ng-container>
        <ng-template #editUserDetails>
          <div class="modal-body">
            <p><b>Name - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.name" aria-label="text"></p>
            <p><b>Surname - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.surname" aria-label="text"></p>
            <p><b>Email - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.email" aria-label="text"></p>
            <p><b>Department - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.department" aria-label="text"></p>
            <p><b>Salary - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.salary" aria-label="text"></p>
            <p><b>Live User - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.liveUser" aria-label="text"></p>
            <p><b>Sart Date - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.startDate" aria-label="text"></p>              
            <p><b>Finish Date - </b><input class="input-group-sm" type="text" [(ngModel)]="userData.finishDate" aria-label="text"></p>
          </div>
        </ng-template>
        <div class="modal-footer">
          <ng-container *ngIf="!userData.editUser else saveUserDetails">
            <button type="button" class="btn btn-cus shadow" (click)="userData && editUser(userData)">Edit User Details</button>
          </ng-container>
          <ng-template #saveUserDetails>
            <button type="button" class="btn btn-cus shadow" (click)="saveChanges(userData)">Save Changes</button>
          </ng-template>
          <button type="button" class="btn btn-secondary shadow" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
